:root {
    --pink: #F3BADA;
    --yellow: #fce762;
    --black: #000;
    --white-text: rgb(223, 219, 219);
    --white-bkgd: #fffded;
}

/* ---------------------------------------------------
    GENERAL
   ---------------------------------------------------*/

html {
    height: 100%;
}

body {
    text-align: center;
    background-image: url('sky.svg');
    max-width: 40em;
    margin: 0 auto;
    color: var(--pink);
    font-family: 'Boogaloo', cursive;
    /*font-family: 'Lato', sans-serif;*/
    height: 100%;
    /* repeat and fill */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* parallax */
    background-attachment: fixed;
}

h1 {
    font-size: 3em;
    margin-bottom: 0.3em;
    padding-top: 1vh;
    font-size: 10vh;
    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);
    text-shadow: -1px -1px 0 var(--black), 1px -1px 0 var(--black), -1px 1px 0 var(--black), 1px 1px 0 var(--black);
    font-family: 'Permanent Marker', cursive;
    overflow-wrap: anywhere;
}

h1 a{
    text-decoration: none;
}

main {
    background-color: var(--white-bkgd);
    padding: 0 2vh;
    border: 5px var(--black) inset;
    margin: 5vh 0 6vh;
}

h2 {
    font-size: 2em;
    font-family: 'Permanent Marker', cursive;
    margin-top: 2vh;
    color: var(--yellow);
    /*font-family: 'Amatic SC', cursive;*/
}

p, li {
    font-size: 1.4em;
    color: var(--white-text);
}

li {
    list-style-type: none;
}

a {
    color: var(--pink);
}

a:hover {
    color: var(--yellow);
}

/* ---------------------------------------------------
    SUB-SECTIONS
   ---------------------------------------------------*/

.sub-section, button {
    background-color: var(--black);
    border: 3px var(--pink) inset;
}

#library-preview {
    padding: 0 2vh 1vh 2vh;
    margin-bottom: 4vh;
}

#about {
    padding: 0 8vh 1vh;
    margin-top: 2vh;
}

#about h2 {
    font-family: 'Shojumaru', cursive;
    color: var(--yellow);
}

#links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4vh 0;
    margin-bottom: 2vh;
}

#links h2 {
    color: var(--black);
    text-shadow: -1px -1px 0 var(--pink), 1px -1px 0 var(--pink), -1px 1px 0 var(--pink), 1px 1px 0 var(--pink);
}

button {
    color: var(--pink);
    font-size: 1em;
    padding: 0.5vh 1vh;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
    margin: 1vh 0;
}

button:hover {
    color: var(--yellow);
    border: 3px var(--yellow) inset;
}

#calendar {
    padding: 0 2vh 1vh 2vh;
    margin-bottom: 2vh;
}

#calendar h2 {
    font-family: 'Carter One', cursive;
    color: var(--yellow);
}

#calendar ul {
    padding-left: 0;
}

footer, footer p {
    display: flex;
    justify-content: space-between;
    color: var(--pink);
    text-shadow: -1px -1px 0 var(--black), 1px -1px 0 var(--black), -1px 1px 0 var(--black), 1px 1px 0 var(--black);
    padding: 0 1vh;
}

footer a {
    text-decoration: none;
    color: var(--pink);
}

footer a:hover {
    text-decoration: underline;
    color: var(--yellow);
}

#space {
    height: 3vh;
}

/* ---------------------------------------------------
    LIBRARY-PAGE
   ---------------------------------------------------*/

#library-main {
    background-color: var(--black);
    padding: 0 2vh 1vh 2vh;
    margin: 2vh 0;
    border: 3px var(--pink) inset;
}

#library-main p {
    padding-left: 2vh;
}

#manga-list {
    text-align: justify;
    margin: 0 auto;
    margin-top: 4vh;
    max-width: 40vh;
}

#manga-list ul, li {
    padding: 0;
    margin-left: 0;
}

.btm-nav {
    margin-bottom: 2vh;
    display: flex;
    justify-content: space-evenly;
}