html {
    height: 100%;
}
/* previous pink color: fc9af4*/
body {
    text-align: center;
    background-image: url('sky.jpg');
    max-width: 45em;
    margin: 0 auto;
    color: #F3BADA;
    font-family: 'Boogaloo', cursive;
    /*font-family: 'Lato', sans-serif;*/
    height: 100%;
    /* repeat and fill */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* parallax */
    background-attachment: fixed;
}

h1 {
    font-size: 3em;
    margin-bottom: 0.3em;
    padding-top: 1vh;
    font-size: 10vh;
    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-family: 'Permanent Marker', cursive;
}

h2 {
    font-size: 2em;
    font-family: 'Permanent Marker', cursive;
    margin-top: 2vh;
    color: #B7E3CC;
    /*font-family: 'Amatic SC', cursive;*/
}

p, li {
    font-size: 1.4em;
    color: rgb(223, 219, 219);
}

li {
    list-style-type: none;
}

main {
    background-color: #fffded;
    padding: 0 2vh;
    border: 5px black inset;
    margin: 5vh 0;
}

#about {
    background-color: black;
    padding: 0 2vh 1vh 2vh;
    border: 3px #F3BADA inset;
    margin-top: 2vh;
}

#about h2 {
    font-family: 'Shojumaru', cursive;
    color: #fce762;
}

#links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4vh 0;
    margin-bottom: 2vh;
}

#links h2 {
    color: black;
    text-shadow: -1px -1px 0 #F3BADA, 1px -1px 0 #F3BADA, -1px 1px 0 #F3BADA, 1px 1px 0 #F3BADA;
}

#calendar {
    background-color: black;
    padding: 0 2vh 1vh 2vh;
    margin-bottom: 2vh;
    border: 3px #F3BADA inset;
}

#calendar h2 {
    font-family: 'Carter One', cursive;
    color: #fce762;
}

#calendar-img {
    margin-bottom: 2vh;
}

button {
    border: 2px #F3BADA inset;
    background-color: black;
    color: #F3BADA;
    font-size: 1em;
    padding: 0.5vh 1vh;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
    margin: 1vh 0;
}

button:hover {
    color: #fce762;
}

footer, footer p {
    display: flex;
    justify-content: space-between;
    color: #F3BADA;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    padding: 0 1vh;
}

footer a {
    text-decoration: none;
    color: #fce762;
}

footer a:hover {
    text-decoration: underline;
}